{sub_dirs, ["apps/clexical", "apps/clexical/test", "rel"]}.
{erl_opts, [{parse_transform, lager_transform}, debug_info, {i, ".."}]}.
{eunit_compile_opts, [{d, 'EUNIT_TEST', true}]}.
{lib_dirs, ["apps","deps"]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", "1.2.1"}},
    {syslog, ".*", {git, "git://github.com/nivertech/erlang-syslog", "ori_070812"}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy", "0.8.5"}},
    {bbmustache, ".*", {git, "https://github.com/xmppjingle/bbmustache.git", "HEAD"}},
    {redo, ".*", {git, "git://github.com/JacobVorreuter/redo.git", "7c7eaef4cd"}},
    {covertool, ".*", {git, "git://github.com/idubrov/covertool.git", "HEAD"}},
    {confetti, ".*", {git, "git://github.com/manuel-rubio/confetti.git", "v0.1.2"}},
    % only for test, don't include them in reltool
    {meck, ".*", {git, "git://github.com/eproxus/meck.git", "0.8.2"}},

    %% documentation
    {edown, ".*", {git, "https://github.com/uwiger/edown", master}}
]}.

{plugins, [rebar_covertool]}.
{export, "all.coverdata"}.

{cover_enabled, true}.
{cover_print_enable, true}.
{cover_export_enabled, true}.
{covertool_eunit, {".eunit/eunit.coverdata", "eunit.coverage.xml"}}.

 
