{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{lib_dirs, ["apps","deps"]}.

{eunit_compile_opts, [{d, 'EUNIT_TEST', true}]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", "3.2.4"}},
    {syslog, ".*", {git, "git://github.com/nivertech/erlang-syslog", "ori_070812"}},
    {bbmustache, ".*", {git, "https://github.com/xmppjingle/bbmustache.git", "HEAD"}},
    {covertool, ".*", {git, "git://github.com/idubrov/covertool.git", "HEAD"}},
    {snatch, ".*", {git, "git://github.com/xmppjingle/snatch.git", "HEAD"}},
    % only for test, don't include them in reltool
    {meck, ".*", {git, "git://github.com/eproxus/meck.git", "0.8.2"}},
    %% documentation
    {edown, ".*", {git, "https://github.com/uwiger/edown", master}}
]}.

{plugins, [rebar_covertool]}.
{export, "all.coverdata"}.

{cover_enabled, true}.
{cover_print_enable, true}.
{cover_export_enabled, true}.
{covertool_eunit, {".eunit/eunit.coverdata", "eunit.coverage.xml"}}.

{eunit_opts, [
    export_all,
    {parse_transform, lager_transform}
    ]}.

{shell, [
    {config, "config/sys.config.dev"},
    {apps, [kernel, stdlib, snatch]}
]}.