{incl_app, clexical, details}.
{erl_opts, [{parse_transform, lager_transform}, debug_info, warning_as_errors, {report, {eunit_surefire, [{dir, "."}]}}]}.
{eunit_opts, [{parse_transform, lager_transform}, verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{lib_dirs, ["../../apps","../../deps"]}.
{deps, [
{lager, ".*", {git, "git://github.com/basho/lager.git", "1.2.1"}}
]}.

{plugins, [rebar_covertool]}.
{export, "all.coverdata"}.

{cover_enabled, true}.
{cover_print_enable, true}.
{cover_export_enabled, true}.
{covertool_eunit, {".eunit/eunit.coverdata", "eunit.coverage.xml"}}.

 

