[
  {clexical, [
    {config, [
      {herald, {http_herald, #{
          port    => 8080,
          api_key => "changeme"
      }}},
      {scribe, {mnesia_scribe, #{}}},
      {vassal, {automation_vassal, #{}}}
    ]}
  ]},

  {lager, [
    {log_root, "/tmp/clexical_log"},
    {handlers, [
      {lager_console_backend, [{level, info}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]},
    {error_logger_redirect, false}
  ]},

  {mnesia, [
    {dir, "/tmp/clexical_mnesia"}
  ]}
].
