[
  {clexical, [
    {config, [
      {herald, {http_herald, #{
          port    => 8080,
          api_key => "changeme"
      }}},
      {scribe, {mnesia_scribe, #{}}},
      {vassal, {automation_vassal, #{}}}
    ]}
  ]},

  %% OTP logger configuration
  {kernel, [
    {logger_level, info},
    {logger, [
      {handler, default, logger_std_h, #{
          level     => info,
          formatter => {logger_formatter, #{
              template => [time, " [", level, "] ", msg, "\n"]
          }}
      }}
    ]}
  ]},

  {mnesia, [
    {dir, "/tmp/clexical_mnesia"}
  ]}
].
